html, body, .container-fluid {
	height: 100%;
	margin: 0;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#landing {
  min-height: 100%;
}

#messenger {
    position: relative;
}

#messenger-label {
    display: block;
    font-weight: 300;
    font-size: 18px;
    margin: 0;
}

#messenger-input {
    border: medium none;
    color: #a7a7a7;
    display: block;
    font-size: 48px;
    font-weight: 100;
    letter-spacing: 0;
    outline: none;
    width: 100%;
}

#cheveron {
  font-size: 40px;
  color: gray;
  position: absolute;
  bottom: 2px;
  padding-left: 48%;
  display: block;
}
